@model Game
@{
    ViewBag.Title = "Delete Game";
}

<!DOCTYPE html>
<html>
<head>
    <title>Delete</title>
</head>
<body>
    <h2>Confirm Deleteion</h2>
    <h3>@Model.Name (@Model.Genre)</h3>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="GameId" />

        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Home" asp-action="Index"
           calss="btn btn-primary">Go Back</a>
    </form>
</body>
</html>
