<!--
    This is the delete page where you can delete your games from the database
-->

@model Game
@{
    ViewBag.Title = "Delete Game";
}

<!DOCTYPE html>
<html>
<head>
    <title>Delete</title>
</head>
<body>
    <h2>Confirm Deleteion</h2>
   
    <table>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Year</td>
            <td>@Model.Developer</td>
            <td>@Model.Genre</td>
        </tr>
    </table>
    <br />
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="GameId" />

        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Home" asp-action="Index"
           calss="btn btn-primary">Go Back</a>
    </form>
</body>
</html>
