@{
    ViewBag.Title = "Home";
}

<h1>Video Game List!</h1>

<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a asp-controller="Games" asp-action="Game"
               class="list-group-item">View the games</a>
        </div>
    </div>
</div>
